<div class="container" style="background-attachment: fixed; background-repeat: no-repeat">
<img src="assets/images/music.jpg" height="789px" width=" 1440px">
<div class="centered">KaKaKi</div>
<button class="button" routerLink="/signup" >Sign Up</button>
<button class="button1"routerLink="/signin" >Login</button>

<div class="content">
        <h1 style="text-align: center"><u> About Us </u></h1>
        <p style="font-size: 17px"> Kakaki is a revolutionary online music streaming app that change 
                the way people listen and share hausa and tafsir which are the famous 
                nigerian music types. It is one of the finest apps for music lovers 
                that holds an array of songs and albums as per your moods and blues.
                Now get access to the unlimited songs right from your hottest hausa 
                till hard-to-find classics, latest regional songs till trending hits 
                all at one place anytime and anywhere. So, whatever is your taste - 
                Old or new, we have everything to match your mood. You can even create 
                your own customized playlist that fits your mood and activity. 
                Now find your favorite song, listen to your favorite album or playlist, 
                share your customized song with your friends or listen to the latest 
                Kannywood hits, classics and regional music from any artist, genre or mood. 
                Kakaki has the perfect music to soothe your soul. Best of all, kakaki 
                allows you to access unlimited songs in online and offline mode. 
                So, just download the app to listen the perfect music that match your mood.</p>
             
</div>


<!-- </div>
<div class="w3-container w3-center w3-animate-right" style="color: white">
        <h5>Welcome to the world of KaKaKi</h5>
        
      </div> -->

