<!-- ------------------------------left side bar start-- --------------------------->
<div id="mySidenav" class="sidenav" style="margin-top: 10px">
    <a href="javascript:void(0)" class="closebtn" (click)="cNav()">&times;</a>

    <a routerLink="/home"><i class="lnr lnr-home"></i> &nbsp; Home</a>
    <a routerLink="/allsongs"> <i class="lnr lnr-music-note"></i> &nbsp; All Songs</a>
    <a routerLink="/allalbums"><i class="lnr lnr-indent-increase"></i> &nbsp; Albums</a>
    <a routerLink="/allartists"><i class="lnr lnr-users"></i> &nbsp; Artists</a>
    <a routerLink="/favourites"><i class="lnr lnr-heart"></i> &nbsp; My Fav</a>
    <a routerLink="/userdetails"><i class="lnr lnr-pencil"></i> &nbsp; User Profile</a>
    <a routerLink="/adminhome" class="adminbtn" id="adminbutton"><i class="lnr lnr-apartment"></i> &nbsp;Admin Home</a>

</div>

<div style="background-color: black; height: 50px;">
    <span style="font-size:25px;cursor:pointer;padding-top: 10px; color: aliceblue; float: left;"
        (click)="oNav()">&#9776; Menu
    </span>


    <h5 style="color: aliceblue; font-size: 40px; margin-left: 350px;padding-top: 5px">KAKAKI MUSIC APP
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         {{user.userFirstName}}       
        <button type="button" class="btn btn-default btn-sm" style="float: right; padding: 10px">
            <span class="glyphicon glyphicon-log-out" (click)="logout()"> Logout</span>
        </button>
    </h5>
</div>


<!-- side bar enddd ----------------------------------------------------------------------------------------------------------   -->


<div style="background-color: lightcyan">
    <div class="container">
        <h4 style="color:rgb(46, 15, 15);text-align:center; font-size: -webkit-xxx-large">
            {{song.songTitle}}
        </h4>
    </div>

    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="text-center">
                            <img src="{{ album.albumImage }}" class="img-responsive" width="350px" height="110%">
                            <br><br>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Album Name</td>
                                    <td>{{album.albumName}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn btn-danger" (click)="addToFavourite(song.songId)">Add to favourites</div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="container-audio" style="width:80%; float:left; margin-left:10%">
                    <audio controls loop autoplay src="{{ song.songUrl }}">
                        Your browser dose not Support the audio Tag
                    </audio>
                </div>
            </div>
            <br>
            <div class="container" style="color:black">
                <div class="list-group text-center" style="margin-left:57px">

                    <div *ngFor="let song of album.songs">
                        <a (click)="play(song)" class="list-group-item list-group-item-action list-group-item-dark">{{ song.songTitle }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>