<img src="assets/images/loginimage.jpg" height="789px" width=" 1440px">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card login-box">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-github-square"></i></span>
					<span><i class="fab fa-linkedin-square"></i></span>

				</div>
			</div>
			<div class="card-body">


				<form (ngSubmit)="onSubmit()" class="form-signin" #userLoginForm="ngForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user icons-btn"></i></span>
							<a href="https://enterprise.github.com/login"></a>
						</div>
						<input type="text" class="form-control" placeholder="email" name="userEmail" [(ngModel)]="auth.userEmail" />

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key icons-btn"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="userPassword"
							[(ngModel)]="auth.userPassword" required>

					</div>
					<div class="row align-items-center remember">
						<input type="checkbox" />Remember Me
					</div>
					<div class="form-group login-btn">
						<input type="submit" value="Login" class="btn float-right login_btn" />

					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a routerLink="/signup" class="float-right">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a routerLink="/forget-password">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>