<!-- ------------------------------left side bar start-- --------------------------->
<div id="mySidenav" class="sidenav" style="margin-top: 10px">
  <a href="javascript:void(0)" class="closebtn" (click)="cNav()">&times;</a>

  <a routerLink="/home"><i class="lnr lnr-home"></i> &nbsp; Home</a>
  <a routerLink="/allsongs"> <i class="lnr lnr-music-note"></i> &nbsp; All Songs</a>
  <a routerLink="/allalbums"><i class="lnr lnr-indent-increase"></i> &nbsp; Albums</a>
  <a routerLink="/allartists"><i class="lnr lnr-users"></i> &nbsp; Artists</a>
  <a routerLink="/favourites"><i class="lnr lnr-heart"></i> &nbsp; My Fav</a>
  <a routerLink="/userdetails"><i class="lnr lnr-pencil"></i> &nbsp; User Profile</a>
  <a routerLink="/adminhome" class="adminbtn" id="adminbutton"><i class="lnr lnr-apartment"></i> &nbsp;Admin Home</a>

</div>

<div style="background-color: black; height: 50px;">
  <span style="font-size:25px;cursor:pointer;padding-top: 10px; color: aliceblue; float: left;"
      (click)="oNav()">&#9776; Menu
  </span>


  <h5 style="color: aliceblue; font-size: 40px; margin-left: 350px;padding-top: 5px">KAKAKI MUSIC APP
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       {{user.userFirstName}}       
      <button type="button" class="btn btn-default btn-sm" style="float: right; padding: 10px">
          <span class="glyphicon glyphicon-log-out" (click)="logout()"> Logout</span>
      </button>
  </h5>
</div>


<!-- side bar enddd ----------------------------------------------------------------------------------------------------------   -->



<div class="container">

    <h4 style="background-color: rgb(129, 104, 104); color:rgb(70, 95, 105) ; text-align: center;font-size: 40px">Create Artist</h4>

    <form class="sl">
            <div class="form-group">
              <label for="songId">Song Id</label>
              <input type="number" class="form-control" id="songId"  placeholder="Enter SongId">
            </div>
            <div class="form-group">
                <label for="songUrl">Song Id</label>
                <input type="text" class="form-control" id="songUrl"  placeholder="Enter SongUrl">
              </div>
            <div class="form-group">
              <label for="songTitle">Song Name</label>
              <input type="text" class="form-control" id="artistTitle" placeholder="Enter Song Title">
            </div>
            <div class="form-group">
                <label for="artistId">Artist Id</label>
                <input type="number" class="form-control" id="artistId"  placeholder="Enter ArtistId">
              </div>
              <div class="form-group">
                <label for="artistName">Artist Name</label>
                <input type="text" class="form-control" id="artistName" placeholder="Enter Artist Name">
              </div>
              <div class="form-group">
                <label for="songImage">Song Image</label>
                <input type="text" class="form-control" id="songImage"  placeholder="Enter SongImage">
              </div>
              <div class="form-group">
                <label for="albumId">Album Id</label>
                <input type="number" class="form-control" id="albumId"  placeholder="Enter AlbumId">
              </div>
              <div class="form-group">
                <label for="albumName">Album Name</label>
                <input type="text" class="form-control" id="albumName" placeholder="Enter Album Name">
              </div>
              <div class="form-group">
                <label for="rgionName">Region Name</label>
                <input type="text" class="form-control" id="rgionName" placeholder="Enter Region Name">
              </div>
              

              <form class="md-form">
                <div class="file-field">
                  <a class="btn-floating purple-gradient mt-0 float-left">
                    <i class="glyphicon glyphicon-upload" aria-hidden="true"></i>
                    <input type="file"><br>
                  </a>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                  </div>
                </div>
              </form>

              <br>
            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto">Create Artist</button>
          </form>

</div>